<div class="ui container">
    <div>
        <a class="ui fluid green button" type="submit">Parcourir le store ({{countProd}}...)</a>
    </div>

    <div class="ui horizontal divider">
        Ou
    </div>

    <div class="ui cards">
    {% for section in all %}
        <div class="card">
            <div class="content">
                <div class="header">
                    {{section.name}}
                </div>
                <div class="description">
                    {{section.description}}
                </div>
            </div>
        <a href=" {{path ('store.section',[section.id])}}" class="ui bottom attached button" type="submit">
                    <i class="add icon"></i>
            Consulter produit ({{section.products|length}})...
        </a>

        </div>

    {% endfor %}
    </div>
</div>